<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.torch2424.statsmonitorwidget"
    android:versionCode="16"
    android:versionName="4.9" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <!-- hopefully fixes statsvfs permissions crash -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- for network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- for wifi -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sm_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- need to copy this multiple times to allow different widget sizes -->
        
        <!-- android exported false to stop it from getting stuff from other apps -->
        
        
        <receiver android:name="com.torch2424.simplemonitor.SuperSmall" 
            android:label="@string/sizeSmall">
            <intent-filter android:exported="false">
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/supersmall" />
        </receiver>
        
        <receiver android:name="com.torch2424.simplemonitor.ProviderSmall" 
            android:label="@string/sizeOne">
            <intent-filter android:exported="false">
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/statssmall" />
        </receiver>
        
        <receiver android:name="com.torch2424.simplemonitor.SmProvider" 
            android:label="@string/sizeTwo">
            <intent-filter android:exported="false">
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simplemonitorxml" />
        </receiver>
        
        <receiver android:name="com.torch2424.simplemonitor.ProviderBig" 
            android:label="@string/sizeThree">
            <intent-filter android:exported="false">
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/statsbig" />
        </receiver>
        
        <receiver android:name="com.torch2424.simplemonitor.ProviderBigger" 
            android:label="@string/sizeFour">
            <intent-filter android:exported="false">
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/statsbigger" />
        </receiver>
        
        
         <receiver android:name="com.torch2424.simplemonitor.SmAlarm" >
</receiver>
         
         <!-- add the hardware thing to improve scrolling -->
        <activity
            android:name="com.torch2424.simplemonitor.ConfigureWidget"
            android:label="@string/title_activity_configure_widget"
            android:hardwareAccelerated="false" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.torch2424.simplemonitor.ColorChooser"
            android:label="@string/title_activity_color_chooser" >
        </activity>
        <activity
            android:name="com.torch2424.simplemonitor.ColorBackChooser"
            android:label="@string/title_activity_color_back_chooser" >
        </activity>
        <activity
            android:name="com.torch2424.simplemonitor.TextSizeChooser"
            android:label="@string/title_activity_text_size_chooser" >
        </activity>
        <activity
            android:name="com.torch2424.simplemonitor.AdvancedSettings"
            android:label="@string/title_activity_advanced_settings"
            android:hardwareAccelerated="false" >
        </activity>
        <activity
            android:name="com.torch2424.simplemonitor.TextBackSettings"
            android:label="@string/textBack" >
        </activity>
    </application>

</manifest>
